.container-form {
  display       : flex;
  flex-direction: column;
  width         : fit-content;
  height: fit-content;
  padding       : 30px 10px;
  row-gap       : 5px;
  box-shadow    : 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 30px;
}
.group-form{
  display: flex;
  padding:0 20px;
  gap: 30px;

}

.form-title {
  font-size  : 18px;
  margin-left: 5px;
  font-weight: 600;
}
.group-input-label{
  font-size: 12px;
}

.group-input {
  display       : flex;
  flex-direction: column;
  margin        : 0 auto;
}

.group-input-input {
  outline: 1px solid green;
  width  : 250px;
  height : 30px;
  padding: 0 10px
}

.group-input-input:focus {
  outline: 2px solid green;

}

.group-input-error {
  color     : red;
  font-size : 11px;
  visibility: visible;
  margin    : 3px 0;
}

.group-input-select {
  width  : 250px;
  height : 30px;
  outline: 1px solid green;
  padding: 0 10px
}

.group-input-select:focus {
  outline: 2px solid green;
}

.group-input-option {
  padding         : 5px 10px;
  background-color: #46c535;
  color           : #fff;
}

.btn {
  width        : 250px;
  height       : 38px;
  align-self   : center;
  border-radius: 5px;
  cursor       : pointer;
}

.success {
  background: #008000;
  color     : #fff;
}

.success:hover {
  background: #03b403;
}

.primary {
  background: #004d80;
  color     : #fff;
}

.primary:hover {
  background: #0364b4;
}

.secondary {
  background: #818181;
  color     : #fff;
}

.secondary:hover {
  background: #bebebe;
}

.warning {
  background: #ffa500;
  color     : #fff;
}

.warning:hover {
  background: #b47501;
}

.danger {
  background: #ff0000;
  color     : #fff;
}

.danger:hover {
  background: #940101;
}
