.container-view{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  border:2px solid rgba(165, 159, 159, 0.637);
  margin: auto auto;
}

.viewport-flow {
  height               : calc(100vh - 350px);
  margin               : auto auto;
  margin               : 30px;
}
.react-flow__pane{


}

.label {
  font-size  : 14px;
  font-weight: bold;
}

.react-flow__edge {
  fill: #3e3a77;
}

.react-flow__edge-text {
  font-size  : 14px;
  font-weight: bold;
}

.link {
  color      : #0069A8;
  font-size  : 14px;
  font-weight: bold;
}