
.viewport-flow{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  top:180px;
  justify-content: center;
  background-color: rgb(234, 234, 240);
  margin:30px;
  
}
.react-flow__pane{
  width: 90%;
}
.label{
  font-size: 14px;
  font-weight: bold;
}
.react-flow__edge{
  fill: #3e3a77;
}
.react-flow__edge-text{
  font-size: 14px;
  font-weight: bold;
}
.link{
  color:#0069A8;
  font-size: 14px;
  font-weight: bold;
}