.container-main {
  display       : flex;
  flex-direction: row;
  width         : 100%;
  min-height    : calc(100vh - 200px);
  margin-top:48px;
}

/* Este wrapper lo puedes usar si quieres forzar el footer abajo */
.layout-wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

.layout-content {
  flex          : 1;
  display       : flex;
  flex-direction: column;
}

.outlet-container {
  flex: 1;
  display: flex;
    overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}