.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    width: 250px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid #4d4a4a69;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}
.card__container:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card__title{
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}
.card__logo {
    width: 100px;
    object-fit: cover;
}
.card__number{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.card__number-item{
    font-size: 16px;
}
.card__group-item{
    width: 100%;
    background: #375D9D ;
    color: #fff;
    overflow: hidden;
}
.card__severidad{
    width: 100%;
    padding: 20px 0;
    background: #ec9702;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 0 0 8px 8px;
    overflow: hidden;


}
.error__data{
    color:red;
    font-size: 22px;
    box-sizing: border-box;
    margin-top:0;
    
}