.form__add {
  display       : flex;
  flex-direction: column;
  width         : fit-content;
  box-shadow    : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding       : 30px;
  row-gap       : 15px;
  border-radius : 8px;
  background    : #fff;
}