.table {
    border-top: 2px solid rgb(226, 226, 226);
}

.button-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button,
.ant-btn {
    padding: 5px 8px;
    color: white;
    border-radius: 5px;
}
.ant-btn-variant-outlined {
    color: rgb(126, 124, 124);
}
.btn-primary {
    background-color: #4db89b;
}
.btn-danger {
    background-color: #d6244d;
}
.total-list {
    font-weight: bold;
}
.loader__spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
td {
    height: 51.5px;
}
.action {
    text-align: center;
}

.ant-modal-content {
    width: fit-content;
    align-self: center;
}
.ant-modal {
    display: flex;
    justify-content: center;
}
.form__modal {
    box-shadow: none;
}
select {
    width: 170px;
}
