@import "tailwindcss";


body,
html {
    height    : 100%;
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


.outlet-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width     : 100%;
    min-height: calc(100vh - 274px);
    padding   : 50px 80px;
}