.nav-container {
  height: 10px;
  height: fit-content;
}

.nav-line {
  background: #D0D6E3;
  width     : 100%;
  height    : 3px;
}

.nav {
  display              : flex;
  justify-content: space-around;
  background-color     : #5175B9;
  color                : #fff;
  width                : 100%;
  padding              : 15px;
  font-weight          : bold;
  margin-bottom        : 30px;

}

.nav-left {
  width: 100px;
}

.nav-rigth {
  width: 100px;
}

@media (max-width: 1055px) {
  .nav-items {
    display: none
  }

  .nav {
    position       : static;
    justify-content: center;
  }
}